@media (max-width: 991px) {

    .actions,
    .navbar {
        text-align: center;
    }

    .success-stories {
        flex-direction: column;
        padding: 5% 15px;
    }

}

@media (max-width: 575px) {

    .navbar,
    .actions {
        text-align: center;
    }

    .main {
        margin-top: 130px;
    }

    h1 {
        font-size: 30px;
    }

    .banner>img {
        width: 100%;
    }

    .publish>form {
        flex-direction: column;
    }

    .publish>form>div {
        height: 50px;
        margin-top: 10px;
    }

    .publish>form>div>input {
        width: 65%;
    }

    .promo {
        flex-direction: column;
        max-width: 90%;
    }

    .explanatory-video>video {
        width: 100%;
    }

    .publish {
        margin-top: 10px;
    }

    .publish>h3 {
        font-size: 25px;
        line-height: 1.2;
    }

    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
    }

    .feature-image {
        display: none;
    }

    .success-stories {
        flex-direction: column;

    }
}